/* style.css */

/*.mt-5 {
  margin-top: ($spacer * .25) !important;
}

.p-5 {
  padding: ($spacer * .3) !important;
}

.fotos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 gap: 1rem;
 margin-bottom: 20px;
}*/

.navbar{
  background-color:rgb(71,238,0);
}

.container{
  background-color:rgb(71,238,0);
}

.formulario{
  background-color:rgb(71,238,0);
}

.textoprecio{
  text-decoration-color: rgb(47, 0, 255);
}

 .navbar-expand-lg{
  flex-wrap:nowrap;
  justify-content:center;
}
.spacer{
  flex:1 1 auto;
  } 