/* style.css */

/*.mt-5 {
  margin-top: ($spacer * .25) !important;
}

.p-5 {
  padding: ($spacer * .3) !important;
}

.fotos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 gap: 1rem;
 margin-bottom: 20px;
}*/

.enc{
  margin-left: 3rem;
  margin-right: 3rem;
}
.card{
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.navbar{
  background-color:rgb(0, 225, 255);
}

.container-fluid{
  background-color:rgb(0, 225, 255);
  
}

.formulario{
  background-color:rgb(0, 225, 255);
}

.textoprecio{
  text-decoration-color: rgb(0, 225, 255);
}

 .navbar-expand-lg{
  flex-wrap:nowrap;
  justify-content:center;
}
.spacer{
  flex:1 1 auto;
  } 

  .mt-n1 {
    margin-top: 1rem !important;
  }